@model Todo.Models.TaskProjectViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Task.Title" class="control-label"></label>
                <input asp-for="Task.Title" class="form-control" />
                <span asp-validation-for="Task.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Description" class="control-label"></label>
                <input asp-for="Task.Description" class="form-control" />
                <span asp-validation-for="Task.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Project" class="control-label"></label>
                <select asp-for="Task.ProjectId" class ="form-control" asp-items="@(new SelectList(Model.AllProjects, nameof(Model.Project.Id), nameof(Model.Project.Name)))"></select>
            </div>
            <div class="form-group">
                <label asp-for="Task.DueDate" class="control-label"></label>
                <input asp-for="Task.DueDate" class="form-control" />
                <span asp-validation-for="Task.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Task.Priority" class="control-label"></label>
                <select asp-for="Task.Priority" class="form-control" asp-items="Html.GetEnumSelectList<Priority>()"></select>
                <span asp-validation-for="Task.Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
